<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Problems | Dirlididi</title>

    <link href="problems.component.css" rel="stylesheet">

    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
  </head>

  <body>
    <div>
        <table class="table table-hover table-bordered table-condensed table-inverse">
            <thead>
              <tr>
                <th>Problem</th>
                <th>Description</th>
                <th>Key</th>
                <th>Created</th>
                <th>Solved</th>
              </tr>
            </thead>
            <tbody *ngFor="let problem of problemsList">
              <tr>
                <td>{{problem.name}}</td>
                <td>{{problem.description}}</td>
                <td>{{problem.id}}</td>
                <td>{{problem.createdAt}}</td>
                <td>{{problem.solved}}</td>
              </tr>
            </tbody>
        </table>

    </div> <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
